<header>
    <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="menuToggle">
        <input onclick="slide(); hamburger()" />
    </div>
    <nav role="navigation">
        <ul id="navbar">
            <a href="/admin" {{#if rent}} class="active" {{/if}}>
                <li>Rent</li>
            </a>
            <a href="/items" {{#if items}} class="active" {{/if}}>
                <li>Items</li>
            </a>
            <a href="/itemtypes" {{#if itemTypes}} class="active" {{/if}}>
                <li>Item Types</li>
            </a>
            <a href="/users" {{#if users}} class="active" {{/if}}>
                <li>Users</li>
            </a>
        </ul>
    </nav>
    <a href="/admin">
        <p id="title">Ski Store</p>
    </a>
    <div id="account">
        <ul>
            <li>
                <a id="dark-mode">
                    <span id="mode-logo" class="material-icons-sharp">light_mode</span>
                    <h3 id="mode-text">Light Mode</h3>
                </a>
            </li>
            <li>
                <a id="login" href="/login">
            <li>Account</li>
            </a>
            </li>
        </ul>
    </div>
</header>

<ul id="menu">
    <a href="/home">
        <li>Home</li>
    </a>
    <a href="/get">
        <li>Get</li>
    </a>
    <a href="/listSkiEquipment">
        <li>List</li>
    </a>
    <a href="/edit">
        <li>Edit</li>
    </a>
    <a href="/delete">
        <li>Delete</li>
    </a>
</ul>