<footer>
    <div class="big-footer">
        <div class="footer-content">
            <h3>Copyright &copy; 2022 Web II </h3>
            <div id="middleFooter">
                <p> Pushing [P]</p>
                <a id="dark-mode">
                    <span id="mode-logo" class="material-icons-sharp">light_mode</span>
                    <h3 id="mode-text">Light Mode</h3>
                </a>
            </div>

            <ul class="socialsTags">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        
        <div class="formContainer">
            <div class="formEdit">
                <h3>Contact Us</h3>
                <form action="pleasuregt01@gmail.com" class="formEmail" method="post" enctype="text/plain">
                    <div class="fixFoot">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                    </div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>


        <div class="locationFooter">
            <h3 id="locationTag">Our Location</h3>
            <div class="locationAdd">
                <p><i class="fa fa-map-marker"></i <span>618 Old Spallumcheen Rd, Quebec, H9H 5T9</span></p>
                <p><i class="fa fa-phone"></i><span>+1 (514) 456-7890</span></p>
                <p><i class="fa fa-envelope"></i><span><a href=""></a></span></p>
            </div>
            
        </div>

        <div class="linkForm">
            <div class="linkContainer">         
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/rent">Rent</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>

        </div>
    </div>
</footer>