<footer>
    <div class="big-footer">
        <div class="footer-content">
            <h3>Copyright &copy; 2022 Web II </h3>
            <div id="middleFooter">
                <p> Pushing [P]</p>
                <a id="dark-mode">
                    <span id="mode-logo" class="material-icons-sharp">light_mode</span>
                    <h3 id="mode-text">Light Mode</h3>
                </a>
            </div>

            <ul class="socialsTags">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </div>
</footer>