</html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<h2> About us</h2>

<div class="aboutContainer">
    <div class="personInfo">
        <p>Eric Duffield:
<<<<<<< HEAD
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-github-square" aria-hidden="true"></i>
            <i class="fab fa-instagram-square" aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
    </div>

    <div class="personInfo">
        <p>Liam Kokpe:
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-github-square" aria-hidden="true"></i>
            <i class="fab fa-instagram-square"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
    </div>
    <div class="personInfo">
        <p>Plesure Singh:
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-github-square" aria-hidden="true"></i>
            <i class="fab fa-instagram-square" aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
=======
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-github-square" aria-hidden="true"></i>
        <i class="fab fa-instagram-square"  aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
         labore et dolore magna aliqua. Integer eget aliquet nibh praesent 
         tristique magna. </p> </p>
    </div>

    <div class="personInfo">
        <p>Liam Kokpe: 
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-github-square" aria-hidden="true"></i>
        <i class="fab fa-instagram-square"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
         labore et dolore magna aliqua. Integer eget aliquet nibh praesent 
         tristique magna. </p> </p>
    </div>
    <div class="personInfo">
        <p>Plesure Singh: 
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-github-square" aria-hidden="true"></i>
        <i class="fab fa-instagram-square"  aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
         labore et dolore magna aliqua. Integer eget aliquet nibh praesent 
         tristique magna. </p> </p>
>>>>>>> c48c41d93e80e2d80823786c4885ac3c5f892ed1
    </div>
</div>



</html>