</html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}

<h2> About us</h2>

<div class="aboutContainer">
    <div class="personInfo">
        <p>Eric Duffield:
            <a href="https://www.linkedin.com/in/ericduffield/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/ericduffield"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <i class="fa fa-instagram-square" aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
    </div>

    <div class="personInfo">
        <p>Liam Kokpe:
            <a href="https://www.linkedin.com/in/liam-kopke-019a2415a/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/LiamKopke"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <i class="fa fa-instagram-square"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
    </div>
    <div class="personInfo">
        <p>Plesure Singh:
            <a href="https://www.linkedin.com/in/pleasure-ghotra-0b8a01203/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/PleasureGT"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <i class="fa fa-instagram-square" aria-hidden="true"></i>
        <p class="customFont">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Integer eget aliquet nibh praesent
            tristique magna. </p>
        </p>
    </div>
</div>



</html>