<html>

{{{body}}}

{{#if alertMessage}}
<h1 class={{alertClass}}>{{alertMessage}}</h1>
{{/if}}


<div class="container">
    <h1> Welcome to our Ski Sop</h1>
    <h2> Skiing is here </h2>

    <p> Skiing and Snowboarding season passes are here!</p>
    <p>Come see us at one of our booths </p>
</div>

<div class="containerRectangle">
    <div class ="rectangleHome"> </div>
    <div class="rectangleHome"> </div>
</div>

<a class="buttonRent" href="/rent">Rent Now</a>

<div class="containerCircle">
    <div class ="circleHome"> </div>
    <div class="circleHome"> </div>
    <div class="circleHome"> </div>
</div>

<a class="buttonAboutUs" href="/about">About Us</a>

</html>