<h3 class="title">Login</h3>

{{#if message}}
<h1>{{message}}</h1>
{{/if}}

<form action="/loginSumbmit" method="post" class="signInForm" role="form" enctype="application/x-www-form-urlencoded">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" placeholder="Username">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required="required" placeholder="Password">
    <p id="signup">Don't have an account? <a href="/signup">sign-up</a></p>
    <button type="submit" class="btn btn-primary">Login</button>
</form>