<h3 class="title">Signup</h3>

{{#if message}}
<h1>{{message}}</h1>
{{/if}}

<form action="/signupSubmit" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" placeholder="Username">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required="required" placeholder="First Name">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required="required" placeholder="Last Name">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" placeholder="Password" minlength="8">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required="required" placeholder="Password"
        minlength="8">
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>