/*#region =========== GLOBAL =========== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	background: var(--white);
    color: var(--black);
}

:root {
	--black: #EEF5FC;
	--grey: #5C5C5C;
	--primary: #20629E;
	--secondary: #2a71b4;
	--white: #2a2a2a;
	--whiteText: #EEF5FC;
	--blackButton: #2a2a2a;
	--box-shadow: 0 0.6rem 1.1rem rgba(0, 0, 0, 0.3); /* change 1.1 or 1.2*/
}

.light-mode-variables{
    --white: #EEF5FC;
	--black: #2a2a2a;
}

/*#endregion Global*/

/*#region =========== HEADER ========== */

header {
	width : 100%;
	position: sticky;
	position: -webkit-sticky;
	z-index: 999;
	top: 0;
	background-color: var(--white);
	display: flex;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	border-bottom: 1px solid var(--black);
}

#hamburger {
	flex: 1;
	height: 24px;
	display: none;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 32px;
	background: var(--black);
	border-radius: 10px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -2px;
	left: 4px;
}

#hamburger.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 20.8px;
	left: 4px;
}

#menuToggle input {
	display: none;
}

#menu {
	display: none;
	position: fixed;
	padding: 0rem 0rem 1.5rem 0rem;
	width: 100%;
	top: -15rem;
	z-index: 200;
	background-color: var(--white);
	list-style-type: none;
	transition: 0.5s;
}

#menu li {
	text-align: center;
	padding-top: 1.5rem;
	font-size: 22px;
	color: var(--black);
}

nav {
	flex: 5;
}

#navbar {
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
}

#navbar a {
	border-bottom: 1px solid transparent;
	color: var(--black);
	margin-right: 1.15rem;
	font-size: 1rem;
	text-decoration: none;
}
#navbar li:hover {
	color: var(--secondary);
}


#navbar li {
	display: inline-block;
}

#title{
	text-align: center;
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--black);
	padding-bottom: 0.1rem;
	font-family: 'Square Peg', cursive;

}
#title:hover
{	
	color: var(--secondary);
}
#account {
	flex: 5;
	display: flex;
	justify-content: flex-end;
}

#account ul {
	display: flex;
	justify-content: flex-end;
}

#account ul li {
	display: flex;
	align-items: center;
}

#login{
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid transparent;
}

#login:hover {
	color: var(--secondary);
	border-bottom: 1px solid var(--black);
}

ul, p{
	margin: 0;
}

/*#endregion HEADER*/

/*#region =========== FOOTER ========== */

footer{
    background: var(--white);
    color: var(--black);
    width: 100%;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: absolute;
  	bottom: 0;
	height: 0px;
  	margin-top: -50px;
	border-top: 1px solid var(--black);
}

.footer-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-content *{
    vertical-align: center;
}

.footer-content h3{
    font-weight: 500;
    margin: auto 2rem;
}
.footer-content p{
    font-family: 'Square Peg', cursive;
    font-size: 2rem;
    color: var(--black);
}

.socialsTags{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto 2rem;
}

.firstFooterSection{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    border-bottom: 1px solid var(--black);
	padding: 1rem 0;
}
.secondFooterSection{ 
	padding-top: 1rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas: 
	"contactUs ourLocation ourPages"
	"formContainer locationFooter linkForm";
	text-align: center;
	justify-content: space-between;
	text-decoration: none;
	color: var(--black);
}

.contactUs{ grid-area: contactUs;}
.ourLocation{ grid-area: ourLocation;}
.ourPages{ grid-area: ourPages;}
.formContainer{ grid-area: formContainer;}
.locationFooter{ grid-area: locationFooter;}
.linkForm{ 
	grid-area: linkForm;
	text-decoration: none;
	color: var(--black);
	font-size: 1.5rem;
	margin: 0.5rem;	
	display: flex;
	flex-direction: column;
}
.linkForm a{ color: var(--black)}
.linkForm a:hover{ color: var(--secondary);}

.socialsTags li{
    margin: 0 10px;
}

.socialsTags a
{
    color: var(--black);
}

.socialsTags a i{
    font-size: 35px;
	margin-right: 20px;
    width: 20px;
}

.socialsTags a:hover i{
    color: var(--secondary);	
}

.footer-bottom{
    background: var(--white);
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
}
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
}

#middleFooter{
	display: flex;
	justify-content: space-around;
}

#dark-mode{
	flex-direction: column;
	color: var(--black);
	transition: all 300ms ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#dark-mode span {
	font-size: 1.6rem;
}

#dark-mode h3 {
	font-size: 0.8rem;
}

#dark-mode:hover{
	color: var(--grey);
}


#signup{
	margin-top: 0.5rem;
}
.fixFoot
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.fixFoot input
{
	margin-right: 0.5rem;
}
.formEdit textarea{
	margin-right: 0.5rem;
}
.formEdit button
{
	margin-right: 0.5rem;
	
}
.formContainer
{
	display: flex;
	flex-direction: column;
	
}


.locationAdd
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#locationTag
{
	display: flex;
	justify-content: center;
}
#linkTag
{
	display: flex;
	justify-content: center;
}
.SomeLink
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.SomeLink a
{
	color: var(--black);
	text-decoration: none;
}

#locationLink
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 11%;
}
.linkContainer
{
	display: flex;
	justify-content: center;
}
.linkContainer a
{
	color: var(--black);
	text-decoration: none;
}
.linkContainer li
{
	text-decoration: none;
	padding-bottom: 10px;
}
#spaceTag
{
	display: flex;
	justify-content: center;
	padding-top: 5px;
}
ul {
    list-style-type: none;
}

/*#endregion FORMS*/

/*#region =========== BODY ========== */

main
{
	position: relative;
  	min-height: 100vh;
}

.title{
	margin: 0.5rem 0 0,5rem 0;
}

#mainContent{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5rem;
}

#imageSection{
	width: 100%;
	text-align: center;
}

#image{
	width: 100%;
	margin-bottom: 2rem;
}

#errorImage{
	margin: 1rem;
	height: 12rem;
}

/*#endregion BODY*/

/*#region =========== FORMS ========== */

form
{
	display: flex;
	flex-direction: column;
}

form label {
	margin-top: 1rem;
	margin-bottom: 0.2rem;
}

.btn {
	background-color: var(--blackButton);
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.btn:hover{
	background-color: var(--grey);
}

select{
	font-size: 0.9rem;
}

h1{
	font-size: 2.1rem;
	margin: 2rem 0rem;
}

h2{
	font-size: 2.1rem;
	margin: 2rem 0rem;
}

.grid{
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;
}

.grid > div {
	padding: 1.2rem;
	background-color: var(--primary);
	border-radius: 1rem;
	border: 1px solid black;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.grid div:hover{
    box-shadow: none;
}

.grid .name{
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 0.3rem;
}

.grid .fields{
	align-items: center;
}

.grid h4{
	font-size: 1.5rem;
	text-align: center;
	color: var(--whiteText);
}

.grid .fields p{
	width: 80%;
	color: var(--whiteText);
}

.title{
	text-align: center;
}

/*#endregion FORMS*/

/*#region =========== HOME PAGE ========== */

.container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20vh;
	background-color: var(--white);
}

.formEdit
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.formEdit textarea
{
	height: 100px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 0.5rem;
}

.formEdit input
{
	width: 98.5%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.formEdit h3
{
	margin-bottom: 5px;
}

/*#endregion HOME PAGE*/

/*								START OF THE HOME PAGE EDITS						*/
.containerMain
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20vh;
	background-color: var(--white);
}

.rectangleHome
{
	display: inline-block;
	border-radius: 5%;
	height: 350px;
	width: 230px;
	background-color: var(--primary);
	margin: 50px;
	border: 1px solid black;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
	
}
.rectangleHome:hover
{
	box-shadow: none;
}

.rectangleHome img
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.imageSnowbaord
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	padding-top: 10px;
}
#specialMove
{
	margin-left: 42px;
}
.imageSki
{
	align-items: center;
	justify-content: center;
	margin-left: 85px;
	padding-top: 10px;
}
.containerRectangle
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.textImage
{
	color: var(--whiteText);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: none;
}
.rectangleHome h3
{
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 9px;
}
.buttonRent
{
	border-radius: 5%;
	background-color: var(--primary);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	margin: 45px;
	border: 1px solid black;
}
.buttonRent:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.devText
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerCircle
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 45px;
}
.circleHome
{
	display: inline-block;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background-color: var(--primary);
	margin: 25px;
}
.circleHome img
{
	border: 1px solid var(--grey);
}
.underImage
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
}
.buttonAboutUs
{
	border-radius: 5%;
	background-color: var(--primary);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	margin: 50px;
	border: 1px solid black;
}
.buttonAboutUs:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.locationText
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: none;
}
.locationEdit
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.locationEdit iframe
{
	margin: 30px;
	border-radius: 5%;
	border-style: solid;
}
/*									About Us Page Starter							*/
.aboutContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
}
#aboutUsEdit
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 35%;
}
.personInfo
{
	margin-top: 50px;
}

.personInfo p
{
	font-size: 28px;
	color: var(--black);
}
.personInfo i
{
	margin-left: 50px;
}
.personInfo img
{
	border: 1px solid var(--grey);
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.customFont
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.customFont p 
{
	font-size: 1.7rem;
	font-family: "Trirong", serif;
}
.personInfo i 
{
	font-size: 50px;
	color: var(--primary);
}
.styleSame
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* ------------------------------- Signup ------------------------------- */


#signup{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container { 
	height: 80%;
	margin: 10; 
	display: grid;
	grid-template-columns: 2.5fr 1.7fr;
	grid-template-rows: 1.3fr 1fr 2.5fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas:
	  "Form username"
	  "Form Names"
	  "Form password";
  }
  
  .Form { grid-area: Form; }
  
  .password { 
	padding: 10px;
    border-radius: 25px;
    background: var(--grey); 
	display: grid;
	grid-template-columns: 0.3fr 3fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "min8 minimum8"
	  "num number"
	  "up uppercase"
	  "down lowercase"
	  "sym symbol"
	  "match matching";
	grid-area: password;
  }
  
  .min8 { grid-area: min8; }
  
  .num { grid-area: num; }
  
  .up { grid-area: up; }
  
  .down { grid-area: down; }
  
  .sym { grid-area: sym; }

  .match { grid-area: match; }
  
  .minimum8 { grid-area: minimum8; }
  
  .number { grid-area: number; }
  
  .uppercase { grid-area: uppercase; }
  
  .lowercase { grid-area: lowercase; }
  
  .symbol { grid-area: symbol; }

  .matching { grid-area: matching; }

  .Names { 
	  
	padding: 10px;
	border-radius: 25px;
	background: var(--grey); 
	display: grid;
	grid-template-columns: 0.3fr 3fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "fn first-name"
	  "ln last-name";
	grid-area: Names;
  }
  
  .fn { grid-area: fn; }
  
  .ln { grid-area: ln; }
  
  .first-name { grid-area: first-name; }
  
  .last-name { grid-area: last-name; }
  
  .username {  
	  
	padding: 10px;
	border-radius: 25px;
	background: var(--grey); 
	display: grid;	
	grid-template-columns: 0.3fr 3fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "un uname";
	grid-area: username;
  }
  
  .un { grid-area: un; }
  
  .uname { grid-area: uname; }
  

  


/* 									SIGN UP PAGE */

.signUpForm input
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/* 									SIGN IN PAGE */
.signInForm input
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/*#region =========== MEDIA QUERY ========== */

@media only screen and (max-width: 1050px) {
	.grid{
		grid-template-columns: 1fr 1fr;
	}	
}

@media only screen and (max-width: 760px) {
	.grid{
		grid-template-columns: 1fr;
	}

	#account {
		flex: 1;
	}

	header {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	#hamburger {
		flex: 1;
		display: block;
	}

	#menuToggle {
		display: flex;
		justify-content: flex-start;
	}

	#menuToggle div {
		height: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#menuToggle a {
		text-decoration: none;
		color: var(--black);
	}

	#menuToggle a:hover {
		color: var(--secondary);
	}

	#menuToggle input {
		display: block;
		position: absolute;
		width: 32px;
		height: 28px;
		top: 29px;
		left: 44px;
		cursor: pointer;
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */
		-webkit-touch-callout: none;
	}

	#menuToggle input:checked ~ ul {
		transform: translate(100%, 0);
	}

	nav {
		display: none;
	}

	#socials {
		display: none;
	}

	#menu {
		display: block;
	}

	.footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }

	.containerCircle
	{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.circleHome
	{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/*#endregion MEDIA QUERY*/

/*						Error Page editing					*/
.backButton
{
	margin-top: 15px;
}
#imageError
{
	margin-top: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*					Allow cookies Cookie Edits			*/
#cookieNotice {
	box-sizing: border-box;
	position: fixed;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
	font-family: inherit;
	z-index: 999997;
}
#cookieNotice.light {
	background-color: #fff;
	background-color: var(--grey);
	color: #393d4d;
	color: var(--black);
}
#cookieNotice.display-right {
	right: 30px;
	bottom: 30px;
	max-width: 395px;
}
#acceptCookie
{
	background-color: var(--primary);
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	transition-duration: 0.4s;
}

/*						RENT PAGE EDITS				**/
.rentContainer
{
	display: flex;
	justify-content: center;
	margin-left: 450px;
}
.sbSplit
{
	flex:1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 700px;
}
.sbSplit input
{
	width: 30%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.skiSplit
{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 700px;
}
.skiSplit input
{
	width: 30%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
#durationPicker
{
	width: 30%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.rentContainer button{
	width: 30%;
	height: 40px;
	border: 1px solid var(--primary);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;

}
.rentContainer h3
{
	font-size: 28px;
	color: var(--black);
}
#datePicker
{
	height: 40px;
	margin-top: 10px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
#durationPicker
{
	height: 40px;
	margin-top: 10px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.RentPageEdit
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 700px;
}
/*							SignUp page edits			**/
.container input
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
/**						Sign In page					*/
.loginEdit input
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/*						Admin page edits			*/
#name, #id, #description, #cost, #rentalState, #itemType,
 #quantity, #firstName, #lastName, #credit, #password, #userType, #username
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
/*							Account page edits				*/
.logoutAccount button
{
	width: 70%;
	height: 50px;
	border: 1px solid var(--primary);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.accountEdits h1
{
	font-size: 28px;
	color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 18px;
	margin-top: 50px;

}