* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	background: var(--white);
    color: var(--black);
}

/* ===========  Color Variables  ========== */

:root {
	--black: #EEF5FC;
	--grey: #5C5C5C;
	--primary: #20629E;
	--secondary: #2a71b4;
	--white: #2a2a2a;
}

.light-mode-variables{
    --white: #EEF5FC;
	--black: #2a2a2a;
}


/* ===========  Header  ========== */

header {
	width : 100%;
	position: sticky;
	position: -webkit-sticky;
	z-index: 999;
	top: 0;
	background-color: var(--white);
	display: flex;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	border-bottom: 1px solid var(--black);
}

#hamburger {
	flex: 1;
	height: 24px;
	display: none;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 32px;
	background: var(--black);
	border-radius: 10px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -2px;
	left: 4px;
}

#hamburger.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 20.8px;
	left: 4px;
}

#menuToggle input {
	display: none;
}

#menu {
	display: none;
	position: fixed;
	padding: 0rem 0rem 1.5rem 0rem;
	width: 100%;
	top: -15rem;
	z-index: 200;
	background-color: var(--white);
	list-style-type: none;
	transition: 0.5s;
}

#menu li {
	text-align: center;
	padding-top: 1.5rem;
	font-size: 22px;
	color: var(--black);
}

nav {
	flex: 5;
}

#navbar {
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
}

#navbar a {
	border-bottom: 1px solid transparent;
	color: var(--black);
	margin-right: 1.15rem;
	font-size: 1rem;
}

#navbar a:hover {
	border-bottom: 1px solid var(--black);
}

#navbar a.active {
	border-bottom: 1px solid var(--black);
}

#navbar li {
	display: inline-block;
}

#title {
	text-align: center;
	flex: 5;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--black);
	padding-bottom: 0.1rem;
}

#account {
	flex: 5;
	display: flex;
	justify-content: flex-end;
}

#account ul {
	display: flex;
	justify-content: flex-end;
}

#account ul li {
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

#login{
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid transparent;
}

#login:hover {
	border-bottom: 1px solid var(--black);
}

ul, p{
	margin: 0;
}

#dark-mode{
	flex-direction: column;
	color: var(--black);
	transition: all 300ms ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#dark-mode span {
	font-size: 1.6rem;
}

#dark-mode h3 {
	font-size: 0.8rem;
}

#dark-mode:hover{
	color: var(--grey);
}


/* ===========  BODY  ========== */

main
{
	position: relative;
  	min-height: 100vh;
}

#mainContent{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5rem;
}

#imageSection{
	width: 100%;
	text-align: center;
}

#image{
	width: 100%;
	margin-bottom: 2rem;
}

#errorImage{
	margin: 1.5rem;
	height: 13rem;
}

/* ===========  FORMS  ========== */

form
{
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

form label {
	margin-top: 1rem;
	margin-bottom: 0.2rem;
}

.btn {
	background-color: var(--primary);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btn:hover{
	background-color: var(--secondary);
}

/* =========== 						 FOOTER  			 ========== */
footer{
    background: var(--white);
    color: var(--black);
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: absolute;
  	bottom: 0;
    border-top: 1px solid var(--black);
	margin-top: 50px;
	height: 5%;
}

.footer-content{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.footer-content *{
    vertical-align: center;
}

.footer-content h3{
    font-weight: 500;
    text-align: left;
    margin: auto 2rem;
}
.footer-content p{
    font-family: 'Square Peg', cursive;
    font-size: 2rem;
    color: var(--black);
}

.socialsTags{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto 2rem;
}

.socialsTags li{
    margin: 0 10px;
}

.socialsTags a
{
    color: var(--black);
}

.socialsTags a i{
    font-size: 35px;
    width: 20px;
}

.socialsTags a:hover i{
    color: var(--white);
}

.footer-bottom{
    background: var(--white);
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
}
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
}
.formEdit
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 250px;
}
.formEdit textarea
{
	width: 100%;
	height: 100px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.formEdit input
{
	width: 100%;
	height: 40px;
	border: 1px solid var(--black);
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
/* ===========  MEDIA QUERY  ========== */

@media only screen and (max-width: 760px) {
	header {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	#hamburger {
		display: block;
	}

	#menuToggle {
		display: flex;
		justify-content: flex-start;
	}

	#menuToggle div {
		height: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#menuToggle a {
		text-decoration: none;
		color: var(--black);
	}

	#menuToggle a:hover {
		color: var(--hover);
	}

	#menuToggle input {
		display: block;
		position: absolute;
		width: 32px;
		height: 28px;
		top: 29px;
		left: 44px;
		cursor: pointer;
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */
		-webkit-touch-callout: none;
	}

	#menuToggle input:checked ~ ul {
		transform: translate(100%, 0);
	}

	nav {
		display: none;
	}

	#socials {
		display: none;
	}

	#menu {
		display: block;
	}

	.footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

/*								START OF THE HOME PAGE EDITS						*/
.container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20vh;
	background-color: var(--white);
}

.rectangleHome
{
	display: inline-block;
	border-radius: 5%;
	height: 300px;
	width: 300px;
	background-color: var(--primary);
	margin: 50px;
	
}
.containerRectangle
{
	display: flex;
}
.buttonRent
{
	border-radius: 5%;
	background-color: var(--primary);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	margin: 50px;
}
.buttonRent:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.containerCircle
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 50px;
}
.circleHome
{
	display: inline-block;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background-color: var(--primary);
	margin: 25px;
}

.buttonAboutUs
{
	border-radius: 5%;
	background-color: var(--primary);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	margin: 50px;
}
.buttonAboutUs:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*									About Us Page Starter							*/
.aboutContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 700px;
}

.personInfo
{
	margin-top: 50px;
}

.personInfo p
{
	font-size: 28px;
	color: var(--black);
}
.personInfo i
{
	margin-left: 50px;
}
.customFont
{
	font-family: "Trirong", serif;
}

.personInfo i 
{
	font-size: 50px;
	color: var(--primary);
}